---
import Spinner from "./Spinner.astro";


const { todo, mode='' } = Astro.props;

---

<div
  class="todo flex justify-between items-center border-b border-gray-300 py-2"
>
  {
    mode === 'edit' ? (
      <form class="flex justify-between w-full items-center" hx-put={`/api/todos?id=${todo.id}`}
    hx-target="closest div.todo"
    hx-swap="outerHTML" 
    hx-indicator="#save">
      <input
        class="border border-gray-300 rounded p-2"
        type="text"
        value={todo.text}
        name="text"
      />
      <button type="button" id="delete"
    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" hx-delete={`/api/todos?id=${todo.id}`} hx-target="closest div.todo" hx-swap="outerHTML" hx-indicator="#delete"
    
    ><span class="text">Delete</span> <Spinner  class="htmx-indicator" />
  </button>
      <button id="save"
    class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded"
    
    ><span class="text">Save</span> <Spinner  class="htmx-indicator" />
  </button>
  </form>
     ): (
      <span id={`todo-${todo.id}`}>{todo.text}</span>
      <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex"
    hx-get={`/api/todos?id=${todo.id}`}
    hx-target="closest div.todo"
    hx-swap="outerHTML"
    
    ><span class="text">Edit</span> <Spinner class="htmx-indicator" />
  </button>
    )
  }
  
</div>

