---
import Spinner from "./Spinner.astro";


const { todo, done='false', mode='' } = Astro.props;
console.log(todo);
---

<div
  class="todo flex justify-between items-center border-b border-gray-300 py-2"
>
  {
    mode === 'edit' ? (
      <form class="flex justify-between items-center gap-2" hx-put={`/api/todos?id=${todo.id}`}
    hx-target="closest div.todo"
    hx-swap="outerHTML" 
    hx-indicator="#save">
      <input
        class="border border-gray-300 rounded p-2 w-full"
        type="text"
        value={todo.text}
        name="text"
      />
      <button type="button" id="delete"
    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer ml-auto" hx-delete={`/api/todos?id=${todo.id}`} hx-target="closest div.todo" hx-swap="outerHTML" hx-indicator="#delete"
    
    ><span class="text">Delete</span> <Spinner  class="htmx-indicator" />
  </button>
      <button id="save"
    class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
    
    ><span class="text">Save</span> <Spinner  class="htmx-indicator" />
  </button>
  </form>
     ): (
      <span id={`todo-${todo.id}`} class:list={["todo",{"done": todo.done}]}>{todo.text}</span>
      <button
    class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-auto mr-2 cursor-pointer" 
    
    hx-patch={`/api/todos?id=${todo.id}`}
    hx-vals={`{"done": ${!todo.done}}`}
    hx-target="closest div.todo"
    hx-swap="outerHTML"
    
    ><span class="text">{todo.done?'Undo':'Done'}</span> <Spinner class="htmx-indicator" />
  </button>
      <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
    hx-get={`/api/todos?id=${todo.id}`}
    hx-target="closest div.todo"
    hx-swap="outerHTML"
    
    ><span class="text">Edit</span> <Spinner class="htmx-indicator" />
  </button>
    )
  }
  
</div>

