---
import '@/styles/global.css';

const { title } = Astro.props;
const description =
  'A simple todo list app made with Astro, HTMX, Tailwind and Turso DB. It is a demo fully functional and ready to deploy on Netlify. No client side Javascript (except HTMX). Server side rendering only.';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/todo-list2.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- opengraph tags -->
    <meta name="og:title" content={title} />
    <meta name="og:type" content="app" />
    <meta name="og:url" content="https://astrohtmxtodo.netlify.app" />
    <meta name="og:image" content="/todo-list2.png" />
    <meta name="og:site_name" content={title} />
    <meta name="og:description" content={description} />
    <!-- HTMX -->
    <script src="@/lib/htmx.org.ts"></script>
  </head>
  <body hx-boost="true" class="flex flex-col min-h-screen bg-gray-200">
    <main class="flex-grow flex flex-col justify-center py-4">
      <slot />
    </main>
    <div class="bg-gray-300 h-1"></div>
    <footer class="px-2 py-8 text-gray-500 text-center">
      <p>
        <span class="font-bold">Stack: </span>Astro, HTMX, Tailwind, Turso DB
      </p>
      <p>Server side rendering only</p>
      <p>No client side Javascript (except HTMX)</p>
      <p>Copyright &copy; Unibox {new Date().getFullYear()}</p>
    </footer>
    <script src="@/lib/app.ts"></script>
  </body>
</html>
